@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#root {
  min-height: 100vh;
  min-width: 100vw;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #030346;
  color: aqua;
}
.container {
  display: flex;
}
.timer-container {
  text-align: center;
  margin: 20px;
}

button {
  height: 75px;
  width: 75px;
  border-radius: 100px;
  border: none;
  outline: none;
  margin: 20px 20px;
  background-color: #05051b;
  cursor: pointer;
}

button i {
  text-align: center;
  font-size: 58px;
  line-height: 75px;
  color: aqua;
}

.timer-container span {
  font-size: 58px;
}
.clock-container {
  background-color: #09092b;
  border: 1px solid #05051b;
  border-top: 1px solid #03030f;
  border-right: 1px solid #03030f;
  border-bottom: 1px solid #03030f;
  box-shadow: 10px 9px 20px 10px #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  width: 350px;
  border-radius: 500px;
  padding: 70px 0px;
  text-align: center;
}
.clock-container span {
  font-size: 64px;
  font-weight: 500;
  width: 250px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers {
  width: 80px;
  text-align: center;
}
small {
  color: #fff;
  font-size: 8px;
}
.attributtion {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 690px) {
  #root,
  .App,
  .clock-container,
  .timer-container {
    min-height: 100vh;
    min-width: 100vw;
  }
  .timer-container {
    flex-direction: column;
    min-height: 10px;
    min-width: 20px;
    margin: 0 -10px;
    padding: 0;
  }
  .clock-container {
    min-height: 100px;
    min-width: 100px;
  }
  .btn {
    transform: scale(0.6);
    margin: 0 -40px;
    padding: 0;
  }
}
@media (max-width: 450px) {
  .container,
  .clock-container {
    transform: scale(0.7);
  }
}
